
#table_dynamic {
    height: 74vh;
    overflow: auto;
}

#top_bar {
    background-color: #3a8da1;
}

.dropdown-submenu {
    position: absolute !important;
    top: -100% !important;
    left: 100% !important;
    margin-top: -1px;
}
.submenu-content {
	top: -100%;
}

.right-caret {
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 7px solid #212529;
    display: inline-block;
    height: 0;
    opacity: 0.9;
    width: 0;
	margin-left: 5px;
}

.nav-tabs .nav-item {
	margin-bottom: 0px !important;
}

.dropdown-item {
	background-color: #fff !important;
}
.dropdown-header {
	background-color: #fff !important;
}

.w100 {
	width: 100%;
}
